.quiz-container {
  max-width: 420px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.progress-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.progress-bar {
  height: 10px;
  background: #34c759;
  border-radius: 10px;
  flex: 1;
}

.question {
  margin-bottom: 20px;
  font-weight: 600;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.option-card {
  background: #f1f1f1;
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  box-shadow: #34c759;
}

.option-card:hover {
  background: #e5e5e5;
}

.option-card.selected {
  background: #34c759;
  color: white;
}

.finish-btn {
  margin-top: 30px;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 12px;
  background: #34c759;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.next-btn {
  margin-top: 30px;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 12px;
  background: #34c759;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.back-btn {
  margin-top: 30px;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 12px;
  background: #ff0000;
  color: white;
  font-weight: bold;
  cursor: pointer;
}